/* Global */

body{
  background-color:#262626;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

/* Header */

header ul{
  display: grid;
  list-style: none;
  grid-template-columns:1fr;
  justify-content: center;
  text-align: center;
  padding: 2em 1em;
}
header a{
  text-decoration: none;
}

header li{
  border: 1px solid #ccc;
  padding: 15px 0;
  margin: 10px;
  color: #fff;
}

header li:hover{
  background: #eaeaea;
  color: #262626;
}

/* Section A */

#section-a{
  display: grid;
  background: #fff;
  text-align: center;
  padding: 1em;
  min-height: 300px;
  color: #fff;
  margin: 0;
  background: rgba(0,0,0,0.2);
}

#section-a .Title{
  font-size: 3em;
  padding-top: 1em;
}

#section-a .text-content{
  font-size: 1.3em;
  padding: 0 1em 1em 1em;
}

#section-a .btn{
  display: inline-block;
  background: #262626;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  margin-bottom: 1em;
}

#section-a .btn:hover{
  background: #eaeaea;
  color: #262626;
}

#section-a #img{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url("../images/image4.jpeg");
  background-position: center;
  background-size: cover;
  width: auto;
  grid-column: 1/5;
}

/* Section B */

#section-b{
    display: grid;
    background: #fff;
    text-align: center;
    padding: 1em;
    min-height: 200px;
    color: #262626;
    margin-top: 20px;
}

#section-b .Title{
  font-size: 2.5em;
  padding: 0 1em;
}

#section-b .text-content{
  font-size: 1.1em;
  padding: 0 1em 1em 1em;
}


/* Section C*/
#section-c{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#section-c ul{
  grid-column:2/4;
}

#section-c ul .button{
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  margin: 1em;
  background-color: #fff;
  text-decoration: none;
  color: #262626;
}

#section-c ul .button:hover{
  background-color: #ccc;
}

/* Footer */

footer .grid{
  display: grid;
  background: #262626;
  color:#fff;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  font-weight: bold;
}

footer .grid div{
  padding: 1em;
}

footer .grid a{
  text-decoration: none;
  color: lightblue;
}

footer .grid a:hover{
  color:pink;
}

/* Media Queries */

/* MIN WIDTH 700PX*/


@media(min-width: 700px){
  #section-b .grid{
    display: grid;
  }
  #section-b .text-content{
    columns: 2;
  }
}
/* MAX WIDTH 700PX */

@media(max-width: 700px){
  footer .grid{
    display: grid;
    background: #fff;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-weight: bold;
  }
  footer .grid div{
    padding: 5px;
  }
  footer .grid{
    display: grid;
    background: #262626;
    color:#fff;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    font-weight: bold;
  }
  
  footer .grid div{
    padding: 1em;
  }
  
  footer .grid a{
    text-decoration: none;
    color: lightblue;
  }
  
}

/* MIN WIDTH 500PX */

@media(min-width: 500px){
  header ul{
    display: grid;
    list-style: none;
    grid-template-columns:repeat(4, minmax(auto,1fr));
    justify-content: center;
    text-align: center;
    padding: 0.5em 0.5em;
  }



/* Section A */
  #section-a{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 1em;
    min-height: 300px;
    color: #fff;
    margin: 0;
  }

#section-a .grid{
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

#section-a .Title,
#section-a .text-content
{
  grid-column: 2/4;
}

/* Section B */
  #section-b{
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
      background: #fff;
      text-align: center;
      padding: 1em;
      color: #262626;
      margin-top: 30px;
  }

  #section-b .grid{
      grid-column: 2/4;
}

/* Footer */
footer .grid{
  display: grid;
  background: #262626;
  color:#fff;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  font-weight: bold;
}

footer .grid div{
  padding: 1em;
}

footer .grid a{
  text-decoration: none;
  color: lightblue;
}

}